.dropdownMenuItem {
  width: 100%;
  border: 0;
  background: var(--box-bg);
  color: var(--title-color);
  font-size: 1em;
  outline: 0;
  font-weight: 400;
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  &.inImage {
    justify-content: start;
    svg {
      margin-left: auto;
    }
  }

  &.isActive {
    background: var(--primary-color);
  }

  &.danger {
    color: var(--danger);

    &:hover {
      color: var(--dangerd20);
    }
  }

  &:hover {
    color: var(--black900);
  }
}
