.patternWrapper {
  * {
    user-select: none;
  }

  touch-action: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &.disabled {
    .reactPatternLockPointWrapper {
      .reactPatternLockPoint {
        cursor: not-allowed;
      }
    }
  }
}

.reactPatternLockConntectorWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  .reactPatternLockConntector {
    position: absolute;
    transform-origin: center left;
  }
}
.reactPatternLockPointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .reactPatternLockPoint {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      border-radius: 50%;
      &.active {
        animation: pop 300ms ease;
      }
    }
  }
}

@keyframes pop {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
