.caseCount {
  text-align: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .wrapperForCaption {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;

    .captionBox {
      color: var(--sub-title-color);
      font-weight: 500;
      font-size: 0.8em;
      margin-left: 0.2em;
      margin-right: 0.2em;
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .popup {
        color: var(--primary-table);
      }
    }
    .recordBox {
      font-size: 0.8em;
      margin: 0 0.2em;
      color: var(--sub-label-color);
      font-weight: 500;
    }
  }
}
