.tBody {
  padding: 0.1em;
  .fetchDone {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--finish-load);
    font-weight: 500;
    color: var(--finish-loadd25);

    .checkIcon {
      margin-right: 0.2em;
      font-size: 1.2em !important;
      color: var(--finish-loadd25) !important;
    }
  }

  .loadMore {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--primary-colorl58);
    font-weight: 500;
    color: var(--primary-colorl20);

    .loadingIcon svg {
      animation: spinner ease 1.5s infinite;
      margin-right: 0.1em;
      display: block;
      font-size: 1.6em !important;
      color: var(--primary-colorl20) !important;

      @-webkit-keyframes spinner {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
