@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/breakpoints';

.chartContainer {
  padding: 0 1.5em 1em 1.5em;
  background: var(--box-bg);
  margin: 0.5em 0;
  position: relative;
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: 0.25em;

  .chartTitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em;
    text-align: center;
    color: var(--title-color);

    .chartInfo {
      font-weight: 400;
      font-size: 0.75em;
      margin-left: 1em;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 1em;
  }

  .rechartsLegendItem {
    margin: 0 2.5em !important;

    @include media-breakpoint-down(xs) {
      margin: 0 0.5em !important;
    }
  }
}

.tooltip {
  background: var(--box-bg);
  max-width: 200px;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: 8px;

  .tooltipTitle {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--primary-color-hover);
  }

  .tooltipContent {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;

    li {
      margin-bottom: 5px;
      color: var(--title-color);
    }

    .tooltipLabel {
      font-weight: 400;
      margin-right: 0.25em;
    }
  }
}

html[dir='rtl'] {
  .rechartsLegendItemText {
    margin-right: 1em;
  }
}

.axis {
  color: var(--title-color);
}
