.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
  background-color: var(--grey-bg-color);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75em 1em;
  margin: 0 0.5em;
  font-weight: 500;
  position: relative;
  border-radius: 4px;

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:active {
    transform: translateY(1px);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.outlined {
    background: transparent;
    border: 1px solid var(--grey--border-color);
    color: var(--grey--border-color);
    &.noBorder {
      border: none;
    }
    &.hasBg {
      border-color: var(--primary-color);
      background-color: transparent;
      color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color);
        color: var(--button-text-color-rezerve);
      }
    }
    &.success {
      border-color: var(--success);
      background-color: transparent;
      color: var(--success);
      &:hover {
        background-color: var(--success);
        color: var(--button-text-color-rezerve);
      }
    }
    &.danger {
      border-color: var(--danger);
      background-color: transparent;
      color: var(--danger);
      &:hover {
        background-color: var(--danger);
        color: var(--button-text-color-rezerve);
      }
    }
    &.warning {
      border-color: var(--warning);
      background-color: transparent;
      color: var(--warning);
      &:hover {
        background-color: var(--warning);
        color: var(--button-text-color);
      }
    }
    &.info {
      border-color: var(--info);
      background-color: transparent;
      color: var(--info);
      &:hover {
        background-color: var(--info);
        color: var(--button-text-color-rezerve);
      }
    }
    &.secondary {
      border-color: var(--secondary);
      background-color: transparent;
      color: var(--secondary);
      &:hover {
        background-color: var(--secondary);
        color: var(--button-text-color-rezerve);
      }
    }
  }

  &.hasBg {
    background-color: var(--primary-color);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }
  &.success {
    background-color: var(--success);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--success-hover);
    }
  }
  &.danger {
    background-color: var(--danger);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--danger-hover);
    }
  }
  &.warning {
    background-color: var(--warning);
    &:hover {
      background-color: var(--warning-hover);
    }
  }
  &.info {
    background-color: var(--info);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--info-hover);
    }
  }
  &.secondary {
    background-color: var(--secondary);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--secondary-hover);
    }
  }

  &.small {
    padding: 0.15em 0.6em;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
  }
  &.large {
    padding: 0.95em 1.3em;
    font-size: 16px;
    font-weight: 500;
  }

  &.light {
    background-color: transparent;
    color: var(--hard-light) !important;

    &:hover {
      color: var(--hard-lightd10) !important;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.onlyIcon {
    svg {
      margin-right: 0;
    }
  }

  svg {
    margin-right: 0.25em;
  }
}

html[dir='rtl'] {
  .button {
    &:first-child {
      margin-right: 0;
      margin-left: inherit;
    }

    &:last-child {
      margin-left: 0;
      margin-right: inherit;
    }
    svg {
      margin-right: initial;
      margin-left: 0.5em;
    }
  }
}
