@import '../styles/mixins';

.fabContainer {
  position: relative;
  margin: 0 0.5em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .fab {
    @include button-reset();
    color: var(--hard-light);
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--primary-colorl10);
    box-shadow: 0 3px 20px 0 var(--btn-box-shadow);

    &:hover {
      background: var(--primary-color);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 10px 0 var(--btn-box-shadow);
    }

    &:disabled {
      background: var(--disabled) !important;
      color: var(--disabledd30);
    }

    &.danger {
      background: var(--danger) !important;

      &:hover {
        background: var(--dangerd20) !important;
      }
    }
  }

  .tooltip {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tooltip);
    color: var(--hard-light);
    padding: 0.5em;
    overflow: hidden;
    border-radius: 0.5em;
    transform: translate(-50%, 0);
    transition: 1s ease all;

    span {
      text-align: center;
    }
  }
}

html[dir='rtl'] {
  .fabContainer {
    &:first-child {
      margin-right: 0;
      margin-left: 0.5em;
    }

    &:last-child {
      margin-right: 0.5em;
      margin-left: 0;
    }
  }
}
