.subButton {
  display: flex;
  align-items: center;
  color: var(--general-button-color);

  &:hover {
    color: var(--general-button-color);

    svg {
      color: var(--general-button-color);
    }
  }

  svg {
    margin-right: 0.25em;
    color: var(--general-button-color);
  }
  &.onlyIcon {
    svg {
      margin-right: 0;
    }
  }

  &.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 0.5em;
    position: relative;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--button-text-color-rezerve);
    padding: 0.15em 0.6em;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
    svg {
      color: var(--button-text-color-rezerve);
    }
  }
  &.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 0.5em;
    position: relative;
    border-radius: 4px;
    background-color: var(--secondary);
    color: var(--button-text-color-rezerve);
    padding: 0.15em 0.6em;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
    svg {
      color: var(--button-text-color-rezerve);
      margin: 0;
    }
  }
}

html[dir='rtl'] {
  .subButton {
    svg {
      margin-right: initial;
      margin-left: 0.25em;
    }
  }
}
