.popup {
  background: var(--tooltip);
  color: var(--hard-light);
  position: absolute;
  left: 50%;
  top: calc(100% + 5px);
  z-index: 300;
  width: 400px;
  transform: translate(-50%, 0);
  padding: 1em;
  border-radius: 0.25em;
  cursor: initial;
  white-space: initial;
  display: flex;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--tooltip) transparent;
    position: absolute;
    bottom: calc(100%);
    left: 50%;
    transform: translate(-50%, 0);
  }
}
