.searchBox {
  background-color: var(--header-bg-front);
  box-shadow: var(--box-shadow);
  padding: 5px !important;
  border-radius: 5px;
  &.centered {
    width: 70%;
  }
}

.input {
  color: var(--title-color) !important;
  input::placeholder {
    color: var(--title-color) !important;
  }
}
.icon {
  color: var(--title-color);
}
