.checkboxBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 0.75em 0;

  .fieldName {
    color: var(--label-color);
  }

  .checkbox {
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .checked {
    &:hover {
      background-color: transparent !important;
    }
  }
}
