.definable-select-field {
  width: 100%;
}

.definable-select-field__control {
  background-color: transparent !important;
  border: 0 !important;
}

.definable-select-field__placeholder {
  color: var(--hard-light) !important;
}

.definable-select-field__single-value {
  color: var(--hard-light) !important;
}

.definable-select-field__option {
  color: var(--option) !important;
  font-weight: 400;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: unset;
}

.Select-control {
  background: transparent !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  padding-left: 0;
}

.Select-control > *:last-child {
  padding-right: 24px;
}
