.container {
  display: flex;
  align-items: center;
  color: var(--label-color);
  justify-content: center;
  .primaryColor {
    color: var(--primary-color);
  }
  .spanColor {
    color: var(--primary-color);
  }
  .checkedColor {
    color: var(--primary-color);
  }
  .barColor {
    background-color: var(--primary-colorl10) !important;
  }
  .labelButton {
    display: flex;
    &.active {
      color: var(--primary-color);
      font-weight: 500;
    }
  }
}
