.actionList {
  width: 100%;
  display: flex;
  justify-content: center;

  .actionButton {
    padding: 0.25em;
    color: var(--t-action);
    cursor: pointer;
    margin: 0 0.25em;
    display: flex;
    position: relative;

    svg {
      font-size: 1.6em;
    }

    &:disabled,
    &[disabled] {
      color: var(--t-actionl10);
      cursor: not-allowed;
    }

    &:hover {
      color: var(--t-actiond20);
    }
  }
}

.buttonContainer {
  .tooltip {
    position: fixed;
    justify-content: center;
    align-items: center;
    background: var(--tooltip);
    color: var(--hard-light);
    padding: 0.5em;
    border-radius: 0.5em;
    transform: translate(-25%, calc(100% + 8px));
    transition: 1s ease all;
    min-width: 80px;
    z-index: 9999;
    width: unset !important;

    span {
      text-align: center;
    }
  }
}

.iconBox {
  min-width: 50px;
  max-width: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.4em;
  text-align: center;
  justify-content: space-evenly;
  outline: 0;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .topNavIcon,
    .topNavName {
      color: var(primary-color-hover);

      svg {
        color: var(primary-color-hover);
      }
    }
  }

  .topNavIcon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1em;
  }
}

.dropdownWrapper {
  .dropdownListItem {
    &:hover {
      .dropdownListIcon {
        color: var(--primary-color);
      }
    }
    .dropdownListIcon {
      display: flex;
      margin-right: 0.5em;
    }
  }
}

html[dir='rtl'] {
  .dropdownWrapper {
    .dropdownListItem {
      &:hover {
        .dropdownListIcon {
          color: var(--primary-color);
        }
      }
      .dropdownListIcon {
        display: flex;
        margin-right: 0em;
        margin-left: 0.5em;
      }
    }
  }
}
