@import '../styles/breakpoints';
@import '../styles/variables';

// .topNavIcon {
//   display: flex;
//   align-items: center;
//   color: var(--primary-color);

//   &:hover {
//     color: var(--primary-color-hover);
//   }
// }

.filterDetailedForm {
  background: radial-gradient(circle at 238px 138px, var(--sidebar-light), var(--sidebar-dark)) !important;
  color: var(--hard-light);
  width: 20%;

  @include media-breakpoint-down(lg) {
    width: 40%;
  }

  @include media-breakpoint-down(sm) {
    width: 60%;
  }

  @include media-breakpoint-down(xs) {
    width: 80%;
  }

  .drawerContainer {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .drawerHeader {
      padding: 1.25em;
      color: var(--hard-light);
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .drawerBody {
      padding: 0 1.25em;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      /* width */
      &::-webkit-scrollbar {
        width: 10px !important;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: var(--primary-color) !important;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: radial-gradient(circle at 238px 138px, var(--sidebar-light), var(--sidebar-dark)) !important;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color-hover) !important;
      }
    }

    .drawerFooter {
      display: flex;
      align-items: center;
      margin-bottom: 0.1em;
      justify-content: flex-end;
      padding: 0 24px 9px;
    }

    .divider {
      width: 1px;
      height: 2em;
      background: var(--hard-light);
    }
  }
}
