.light-fields {
  .text-field-label {
    color: var(--label-light);
  }

  label {
    color: var(--label-light);
  }

  input {
    color: var(--hard-light) !important;
  }

  .noOptionsMessage {
    color: var(--option);
  }

  .text-field-shrink {
    color: var(--shrink-light) !important;
  }

  .text-field-input {
    color: var(--hard-light);
  }

  .selectfield-indicators {
    color: var(--hard-light);
  }

  .datepicker-label {
    color: var(--label-light);
  }

  .datepicker-focused {
    color: var(--hard-light);
  }

  .vrs__single-value {
    color: var(--hard-light);
  }

  .text-field-underline {
    &::before {
      border: 0;
      border-bottom: 1px solid var(--label-light) !important;
    }

    &::after {
      border-bottom: 1px solid var(--shrink-light);
    }

    &:hover {
      &:before {
        border-bottom: 1px solid var(--shrink-light);
      }
    }
  }
}
