@mixin header-bg($direction: ltr) {
  background: linear-gradient(to left, #f9f8f6, #f5e6d3 50%, #f9f8f6);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin modal-title() {
  margin: 0 0 1em 0;
  padding: 0.8em 1em;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
  background: #efefef;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.375em;
  font-weight: 500;
  text-align: center;
}

@mixin button-reset() {
  border: 0;
  background: transparent;
  outline: 0;
}

@mixin fb-vertical-center {
  display: flex;
  align-items: center;
}

@mixin fb-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
