.itemContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  z-index: 1;

  &:nth-child(2n) {
    justify-content: flex-end;

    .icon {
      &:before {
        left: 100%;
        right: 0;
      }
    }
  }

  &:hover {
    .icon {
      color: var(--label-color);
      border: 1px solid var(--label-color);

      &:before {
        background: var(--label-color);
      }
    }

    .item {
      border: 1px solid var(--label-color);
    }
  }

  .item {
    flex: 0 0 46%;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--dark-outline);

    .title {
      font-size: 1.1em;
      font-weight: 500;
      padding: 0.6em 0.5em;
      background: var(--primary-colorl20);
      color: var(--hard-light);
      margin: 0;
      display: flex;
      justify-content: space-between;

      &.firstItem {
        background: var(--danger);
      }

      &.success {
        background: var(--success);
      }

      .calendar {
        display: inline-flex;
        align-items: center;
        color: var(--hard-light);
        font-size: 0.82em;

        svg {
          font-size: 1.2em;
          margin-right: 0.34em;
        }
      }
    }

    .content {
      padding: 0.8em 0.5em;

      .infoItem {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding: 0.5em;
        border-bottom: 1px solid var(--dark-outline);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }

        svg {
          margin-right: 0.25em;
          font-size: 1.15em;
        }
      }
    }
  }

  .icon {
    &:before {
      content: '';
      height: 1px;
      width: 105%;
      background: var(--dark-outline);
      position: absolute;
      right: 100%;
    }

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--dark-outline);
    color: var(--label-color);
    background: var(--hard-light);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 18px;
    }
  }
}

html[dir='rtl'] {
  .itemContainer {
    &:nth-child(2n) {
      .icon {
        &:before {
          right: 100%;
          left: 0;
        }
      }
    }
  }

  .icon {
    &:before {
      left: 100%;
      right: inherit;
    }
  }

  .item {
    .title {
      .calendar {
        svg {
          margin-right: 0;
          margin-left: 0.34em;
        }
      }
    }
  }
}
