.common {
  color: #fff !important;
  font-size: 1em !important;
}

.danger {
  background-color: var(--danger) !important;
}

.warning {
  background-color: var(--warning) !important;
  color: #000 !important;
}

.success {
  background-color: var(--success) !important;
}
