.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1400;
  width: 100vw;
  height: 100vh;
  background: var(--overlay-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam {
  border: 10px solid var(--hard-light);
}

.buttons {
  margin-top: 5em;
  display: flex;
  justify-content: center;

  .button {
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0.5em !important;

    svg {
      margin-left: 0 !important;
      font-size: 2em;
    }
  }
}
