.verticalTabButton {
  background: var(--primary-colorl10);
  padding: 0.25em 1.25em;
  color: var(--hard-light);
  box-shadow: 0 -3px 20px 0 var(--btn-box-shadow);
  margin-left: 1em;
  width: 100%;
  white-space: nowrap;

  span {
    // writing-mode: vertical-lr;
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
  }

  &:active {
    box-shadow: 0 -2px 10px 0 var(--btn-box-shadow);
    transform: translateX(1px);
  }

  &:hover {
    background: var(--primary-color);
  }
}

html[dir='rtl'] {
  .verticalTabPin {
    left: 0;
    right: inherit;
  }
}
